--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision
torchaudio

transformers
datasets
scikit-learn
tqdm
numpy
pyarrow==14.0.1

evaluate
accelerate
dvc-s3
fastapi
streamlit
mlflow==2.11.1
dagshub